<{include file='header.html'}>

<body>
<div id="boxlinks">


<{include file='info.html'}>


</div>

<div class="clr"></div>

<{include file='main_menu.html'}>

<div class="wrap">

	<div id="homebox1">

		<div class="homeboxcon">

			<h3>IronRidge Admin - Home</h3>
			<h2>Welcome to IronRidge Admin</h2>
		  <p><strong>Content Pages:</strong> Manage main pages and their sub-pages, including About Us, Project Areas, AIM Rules 26 Info, Media Centre, Investor Centre, Contact Us.</p>
			<p><strong>Other Pages:</strong> Manage pages which do not have a sub-menu list, including Home, FAQ, Privacy, Staff.</p>
		  <p><strong>News:</strong> Manage news posts.</p>
			<p><strong>Slideshow Images:</strong> Manage images for slide show on home page.</p>
			<p><strong>Gallery:</strong> Manage albums and images of album.</p>
			<p><strong>Manage Staff Account:</strong> Manage staff access account including password.</p>
	  </div>

	  <div class="homeboxbottom">

		</div>

	</div>

	<div class="clr"></div>

	<div style="height:15px"></div>

	<div class="doubledot"></div>

	<div class="clr"></div>

</div>

<div style="height:28px"></div>

<{include file='footer.html'}>

</body>
</html>
