<{if count($list) == 0}>
    No page found
<{else}>
<table width="100%" border="0" cellspacing="2" cellpadding="0">
  <tr>
    <td><strong>Title</strong></td>
	<td><strong>Title French</strong></td>
	<td><strong>Link to page</strong></td>
	<td><strong>Type</strong></td>
    <td><strong>Date Created</strong></td>
    <td><strong>Date Modified</strong></td>
    <td width="20"><strong>Action</strong></td>
  </tr>
  <{foreach from=$list item=row key=key}>
  <tr>
	  <td colspan="7" height="20"><hr size="1" color="#cccccc" width="100%" /></td>
  </tr>
  <tr>
    <td><{$row.title}></td>
	<td><{$row.title_fr}></td>
	<td>
		<{if $row.id > 6}>
		<a href="<{$smarty.const.WEBSITE_URL}>show-page/<{$row.page_unique_title}>/" target="_blank">
			View
		</a>
		<{/if}>
	</td>
	<td><{$row.type}></td>
    <td><{$row.date_created}></td>
    <td><{$row.date_modified}></td>
    <td>
        <a href="#" class="edit" rel="<{$row.id}>"><img src="<{$resourceDir}>edit.png" width="30" height="29" /></a>

		<{if $row.id > 6}>
            <a href="#" class="delete" rel="<{$row.id}>"><img src="<{$resourceDir}>delete.png" width="30" height="29" /></a>
        <{/if}>
    </td>
  </tr>
  <{/foreach}>
</table>
<{/if}>