<{include file='header.html'}>

<body>
<div id="boxlinks">


<{include file='info.html'}>


</div>

<div class="clr"></div>

<{include file='main_menu.html'}>

<div class="wrap">
<table border="0" cellpadding="0" cellspacing="0">
  <tr><td valign="top">
<div id="adminsubnav-top"></div>
    <div id="adminsubnav">
      <table width="100%" border="0" cellspacing="2" cellpadding="2">
        <tr>
          <td><a href="#" class="list">List</a></td>
        </tr>
        <tr>
          <td><a href="#" class="add">Add</a></td>
        </tr>
        <tr>
          <td height="30"><hr width="100%" size="1" color="#CCCCCC" /></td>
        </tr>
        <tr>
			<td>
				<div id="divSearch">
                <form id="frmSearch">
                <table width="100%" border="0" cellspacing="1" cellpadding="1">
                 <tr>
                   <td colspan="2"><strong>Search</strong></td>
                 </tr>
                 <tr>
                   <td>URL</td>
                   <td><input name="urlSearch" type="text" id="urlSearch" size="15" maxlength="100" /></td>
                 </tr>
                 <tr>
                   <td colspan="2" align="right">
					   <input type="reset" name="reset" id="reset" value="Clear" />
                       <input type="submit" name="button" id="button" value="Search" />
                   </td>
                 </tr>
                </table>
                </form>
             </div>
			</td>
		</tr>
      </table>

    </div>
    <div id="adminsubnav-bottom"></div>
</td><td valign="top">
<div id="pagelist-top"></div>
	<div id="pagelist">

		<div class="homeboxcon">

			<h2><{$navTitle}> -> <span id="navTitle">List</span></h2>

			<div id="message">
				<div id="messageDetail"></div>
			</div>

			<div id="divContent"></div>
	  </div>

	  <div class="pagelistbottom">

		</div>

	</div>

   </td></tr></table>

  <div class="clr"></div>

	<div style="height:15px"></div>

	<div class="doubledot"></div>

	<div class="clr"></div>

</div>

<div style="height:28px"></div>

<{include file='footer.html'}>

</body>
</html>
<script type="text/javascript" src="<{$resourceDir}><{$regionPrefix}>_manage_banner.js?ver=<{$smarty.const.APPLICATION_VERSION}>"></script>
