<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="Welcome to the Apricus Global website.  Sustainable hot water systems delivered by Apricus." />
<meta name="keywords" content="" />
<title>Welcome to Apricusl Global Website | Apricus Solar Hot Water | Sustainable Hot Water Systems</title>
<script language="javascript">
	var websiteUrl = '<{$smarty.const.WEBSITE_URL}>';
</script>
<link href="<{$smarty.const.WEBSITE_URL}>css/global.css?v=<{$smarty.const.APPLICATION_VERSION}>" rel="stylesheet" type="text/css" media="screen, print" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js" type="text/javascript"></script>
<script src="<{$smarty.const.WEBSITE_URL}>js/global.js?v=<{$smarty.const.APPLICATION_VERSION}>" type="text/javascript"></script>
</head>

<body>

<div class="blueline">

</div>

<div id="header">

	<div class="wrap">

		<table width="100%" border="0" cellpadding="0" cellspacing="0">
	  <tr><td width="343"><img src="<{$smarty.const.WEBSITE_URL}>images/logo.png" alt="Apricus" width="343" height="121" /></td>
	  <td align="right"><form id="form1" name="form1" method="post" action="">
	    <select name="region" class="regionselect" id="region">
	      <option>Select your Region</option>
	      <option value="eu/">Europe</option>
	      <option value="us/">North America</option>
	      <option value="cn/">China</option>
	      <option value="intl/">International</option>
	      <option value="http://www.apricus.com.au">Australia</option>
	      <option value="http://www.switchsolar.co.nz">New Zealand</option>
	      </select>
            </form>
	  </td>
	  </tr></table>

  </div>

</div>

<div class="wrap">

    <div id="map">
    <img src="<{$smarty.const.WEBSITE_URL}>images/landing_large.png" border="0" usemap="#Map" />
<map name="Map" id="Map">
  <area shape="rect" coords="888,384,946,447" href="http://www.switchsolar.co.nz" target="_blank" alt="New Zealand" />
  <area shape="rect" coords="266,164,807,236" href="intl/" alt="Global" />
  <area shape="rect" coords="195,234,669,444" href="intl/" alt="Global" />
  <area shape="rect" coords="749,295,888,435" href="http://www.apricus.com.au" target="_blank" alt="Apricus Australia" />
<area shape="rect" coords="7,36,265,233" href="us/" alt="North America" />
<area shape="rect" coords="640,74,807,165" href="cn/" alt="China" />
<area shape="rect" coords="267,18,639,165" href="eu/" alt="Europe" />
</map>
  </div>

  <div id="landing_bars">

    </div>

</div>

<div id="footer">

	<div class="wrap">

		<div class="floatr">

			<p>website by <a href="http://www.visionstudio.com.au" target="_blank">vision</a></p>

	  </div>

		<div class="floatl">

			<p>&copy Apricus Solar Co. Ltd. All Rights Reserved</p>

		</div>

	</div>

</div>

</body>
</html>
