body {
	background-image: url(images/bg.jpg);
	background-repeat:repeat-x;
	background-color: #f3f3f3;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 11px;
	color: #3c3c3c;
	text-align: left;
	margin: 0;
	padding: 0;
	line-height: 18px;
}
.clr {
	clear:both;
}
ul, li { list-style:none; padding:0; margin:0}
a {
	color: #3c3c3c;
	text-decoration: underline;
	font-weight: bold;
}
a:hover { 
	color: #3c3c3c;
	text-decoration: none;
	font-weight: bold;
}
#wrap {
	width: 850px;
	margin: 0 auto;
	text-align: center;
}
#header {
	width: 824px;
	height: 97px;
	margin: 0 auto;
}
#logo {
	float: left;
	width: 220px;
	height: 92px;
	margin-top: 5px;
}
#search {
	float: right;
	width: 500px;
	height: 28px;
	margin-top: 31px;
	margin-right: 25px;
	text-align: right;
}
#navigation {
	width: 600px;
	height: 26px;
	float: right;
	text-align: left;
	padding-top: 10px;
}
#navigation li { float:left; list-style:none}
#home {
  	display: block;
  	width:47px;
 	height:26px;
  	background: url("images/nav-home.png") no-repeat 0 0;
	float: left;
}
#home:hover { 
  background-position: 0 -26px;
}
#home span {
  display: none;
}
#about {
  	display: block;
  	width:65px;
 	height:26px;
  	background: url("images/nav-about.png") no-repeat 0 0;
	margin-left:2px;
}
#about:hover { 
  background-position: 0 -26px;
}
#about span {
  display: none;
}
#project {
  	display: block;
  	width:91px;
 	height:26px;
  	background: url("images/nav-projectareas.png") no-repeat 0 0;
	margin-left:2px;
}
#project:hover { 
  background-position: 0 -26px;
}
#project span {
  display: none;
}
#aim {
  	display: block;
  	width:105px;
 	height:26px;
  	background: url("images/nav-aimrule.png") no-repeat 0 0;
	margin-left:2px;
}
#aim:hover { 
  background-position: 0 -26px;
}
#aim span {
  display: none;
}
#media {
  	display: block;
  	width:89px;
 	height:26px;
  	background: url("images/nav-media.png") no-repeat 0 0;
	margin-left:2px;
}
#media:hover { 
  background-position: 0 -26px;
}
#media span {
  display: none;
}
#investor {
  	display: block;
  	width:97px;
 	height:26px;
  	background: url("images/nav-investor.png") no-repeat 0 0;
	margin-left:2px;
}
#investor:hover { 
  background-position: 0 -26px;
}
#investor span {
  display: none;
}
#contact {
  	display: block;
  	width:73px;
 	height:26px;
  	background: url("images/nav-contact.png") no-repeat 0 0;
	margin-left:2px;
}
#contact:hover { 
  background-position: 0 -26px;
}
#contact span {
  display: none;
}
#content-top-strip {
	width: 850px;
	height: 18px;
	background-image: url(images/content-top-strip.jpg);
}
/* Content */
#content-wrapper {
	overflow: hidden;
	padding: 0px 0px 0px 0px;
	width: 100%;
}
#content-wrapper #content {
	overflow: hidden;
	width: 850px;
	text-align: left;
	padding-bottom: 25px;
	background-image: url(images/content-bg.png);
	background-repeat:repeat-y;
	padding-bottom: 30px;
}
#content-wrapper #content #content-inner {
	width: 811px;
	padding-left: 36px;
}
#home-main-img {
	width: 510px;
	height: 344px;
	padding-right: 23px;
	padding-bottom: 20px;
	float: left;
}
#home-right-col {
	width: 245px;
	height: 344px;
	float: left;
	padding-bottom: 20px;
}
#home-right-col #btn-project-areas {
	width: 245px;
	height: 110px;
	float: left;
	padding-bottom: 8px;
}
#home-right-col #btn-investor-centre {
	width: 245px;
	height: 110px;
	float: left;
	padding-bottom: 8px;
}
#home-right-col #share-price {
	width: 245px;
	height: 110px;
	float: left;
	background-image: url(images/share-price.jpg);
}
#home-content {
	width: 508px;
	padding-right: 23px;
	float: left;
	text-align: left;
}
#about-banner {
	width: 778px;
	height: 186px;
	float: left;
	background-image: url(images/about-banner.jpg);
	margin-bottom: 20px;
}
#content-right {
	width: 248px;
	float: left;
	text-align: left;
}
#newsbox {
	width: 248px;
	height: 219px;
	float: left;
	background-image: url(images/news-bg.jpg);
	margin-bottom: 15px;
}
#newstitle {
	font-size: 17px;
	padding-top: 17px;
	padding-left: 20px;
	width: 228px;
	padding-bottom: 10px;
}
#newsitem {
	padding-left: 20px;
	width: 213px;
	padding-right: 15px;
	padding-bottom: 10px;
	line-height: 15px;
	font-size: 10px;
}
#newsitem a {
	color: #881237;
	text-decoration: underline;
	font-weight: bold;
}
#newsitem a:hover { 
	color: #881237;
	text-decoration: none;
	font-weight: bold;
}
#enewsbox {
	width: 248px;
	height: 219px;
	float: left;
	background-image: url(images/enews-bg.jpg);
}
#enewstitle {
	font-size: 17px;
	color: #FFFFFF;
	padding-top: 17px;
	padding-left: 20px;
	width: 228px;
	padding-bottom: 15px;
}
#enewsitem {
	padding-left: 20px;
	width: 213px;
	color: #FFFFFF;
	padding-right: 15px;
	font-size: 11px;
}
#enewsitem2 {
	height: 40px;
}
#enewsitem3 {
	height: 35px;
}
h1 {
	color: #8f133a;
	font-size: 20px;
	font-weight: normal;
	padding-top: 0px;
	padding-bottom: 15px;
	margin-top: 0px;
	margin-bottom: 15px;
}
h2 {
	font-size: 20px;
	font-weight: normal;
	padding-top: 0px;
	padding-bottom: 15px;
	margin-top: 0px;
	margin-bottom: 15px;
	color: #f78e1e;
}
h3 {
	font-size: 14px;
	font-weight: bold;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
h4 {
	font-size: 12px;
	font-weight: bold;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
#footer {
	width: 850px;
	height: 79px;
	margin: 0px auto 0px auto;
	background-image: url(images/footer-bg.png);
}
#footer #footerleft {
	width: 400px;
	height: 79px;
	padding-left: 38px;
	float: left;
}
#footer #footerleft #stafflogin {
	width: 300px;
	height: 30px;
	margin-top: 12px;
	margin-bottom: 2px;
	float: left;
}
#footer #footerleft #disclaimer {
	color: #606060;
	font-size: 9px;
	font-style: italic;
	width: 300px;
	float: left;
	line-height: 12px;
	margin-left: 5px;
}
#footer #footerright {
	width: 400px;
	height: 79px;
	float: right;
}
#footer #footerright #cancer {
	width: 190px;
	height: 35px;
	float: right;
	margin-top: 12px;
}
#footer #footerright #copyright {
	width: 300px;
	height: 20px;
	float: right;
	margin-top: 5px;
	margin-right: 32px;
	color: #606060;
	font-size: 9px;
	text-align: right;
}
#copyright a {
	color: #606060;
	text-decoration: underline;
	font-weight: normal;
}
#copyright a:hover { 
	color: #606060;
	text-decoration: none;
	font-weight: normal;
}
.subscribebox {
	height: 28px;
	width: 210px;
	font-size: 11px;
	color:#464646;
	margin: 0px;
	padding: 0px;
	border: 0px;
	background-image: url(images/subscribe-bg.jpg);
}
.searchbox {
	height: 28px;
	width: 222px;
	font-size: 11px;
	color:#FFFFFF;
	margin: 0px;
	padding: 0px;
	border: 0px;
	background-image: url(images/search.jpg);
}
