<div class="wrap">

	<div id="header">

	</div>

</div>

<div id="boxlinks">

	<div class="wrap">

		<div id="boxlinks_1">

			<a href="<{$modulePath}>page/young-people/"><img src="<{$modulePath}>images/boxlink_1_blank.png" alt="Young People" border="0" /></a>		</div>

  <div id="boxlinks_2">

			<a href="<{$modulePath}>page/parents/"><img src="<{$modulePath}>images/boxlink_2_blank.png" alt="Parents" border="0" /></a>		</div>

  <div id="boxlinks_3">

			<a href="<{$modulePath}>page/teachers/"><img src="<{$modulePath}>images/boxlink_3_blank.png" alt="Teachers" border="0" /></a>		</div>

  <div id="boxlinks_4">

			<a href="<{$modulePath}>page/industry/"><img src="<{$modulePath}>images/boxlink_4_blank.png" alt="Industry" border="0" /></a>		</div>

  <div id="boxlinks_5">

			<a href="<{$modulePath}>page/community/"><img src="<{$modulePath}>images/boxlink_5_blank.png" alt="Community" border="0" /></a>		</div>

  </div>

</div>

<div class="clr"></div>

<div id="navmenu">

	<div class="wrap">

		<ul>
			<li><a href="<{$modulePath}>">HOME</a></li>
			<li><a href="<{$modulePath}>page/about-us/">ABOUT US</a></li>
			<li><a href="<{$modulePath}>latest-news/">LATEST NEWS</a></li>
			<li><a href="<{$modulePath}>events/">EVENTS</a></li>
			<li><a href="<{$modulePath}>links/">LINKS</a></li>
			<li><a href="<{$modulePath}>contact-us/">CONTACT US</a></li>
		</ul>

	</div>

</div>