<div id="newsletter">
		<form id="formSigup" name="formSigup" method="post" action="">
	      <table width="100%" border="0" cellspacing="2" cellpadding="2">
            <tr>
              <td height="25"><span class="bluetext">Sign up</span> to receive our Newsletter:</td>
            </tr>
            <tr>
              <td><input name="sigupName" id="sigupName" type="text" class="newsletterboxes" value="Name" /></td>
            </tr>
            <tr>
              <td><input name="sigupEmail" id="sigupEmail" type="text" class="newsletterboxes" value="Email Address" /></td>
            </tr>
            <tr>
              <td align="right"><input name="submit" type="image" value="Signup" src="<{$modulePath}>images/signup.jpg" alt="Signup" /></td>
            </tr>
          </table>
      </form>
    <div id="sendingContent" class="whiteBg"></div>
        <a name="top"></a>
		<div id="message">
            <div id="messageDetail"></div>
        </div>
	</div>

	<a href="http://www.pathwaysconnect.com/sip/" target="_blank"><img style="float:left; margin-left:8px" src="<{$modulePath}>images/login.png" alt="Login to Pathways Connect" border="0" /></a><a href="<{$modulePath}>events/"><img src="<{$modulePath}>images/view.png" alt="View Upcoming Events" border="0" style="float:left; margin:0 11px 0 11px" /></a>
	<div class="clr"></div>