<div id="footer">
   <div id="footerleft">
   <div id="stafflogin"><a href="stafflogin.html" target="_blank"><img src="<{$smarty.const.WEBSITE_URL}>images/stafflogin.jpg" title="Staff Login" width="97" height="28" border="0" /></a></div>
   <div id="disclaimer">The information contained in this website (www.solgold.com.au) has<br />been disclosed pursuant to Rule 26 of the AIM Rules for Companies.</div>
   </div>
   <div id="footerright">
   <a href="http://www.somecancerwebsite.com" target="_blank"><div id="cancer" title="Proud supporters of Testicular Cancer Awareness"></div></a>
   <div id="copyright"><em>Copyright 2012</em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="<{$modulePath}>faq/">FAQ</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="<{$modulePath}>privacy/">Privacy</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="<{$modulePath}>contact-us/">Contact Us</a></div>
   </div>
</div>