<{include file=header.html}>

<body>
<div id="wrap">

	<{include file=menu.html}>

    <div id="content-top-strip"></div>
  <div id="content-wrapper">
    <div id="content">
	  <div id="content-inner">
      <div class="clr"></div>
	    <div style="float: left; height: 186px; margin-bottom: 20px;width: 778px;">
			<img src="<{$smarty.const.WEBSITE_URL}>images/gallery_banner.png" />
		</div>
        <div class="clr"></div>
        <div class="clr"></div>
        <div id="home-content">
			gallery here
        </div>
        <div id="content-right">

			<{include file=latest_news.html}>

			<{include file=subscription_box.html}>
        </div>
        </div>
	  </div>
     </div>
   </div>
   <div class="clr"></div>
   <{include file=footer.html}>
</div>
</body>
</html>