<div id="enewsbox">
			<div id="enewstitle">eNews Subscription</div>
			<div id="enewsitem">
			<form method="post" name="form_subscribe" id="form_subscribe" action="">
			<table border="0" cellpadding="0" cellspacing="0">
			<tr><td><div id="enewsitem2">Keep up to date with our latest news, sign up for our email alerts:</div></td></tr>
			<tr><td><div id="enewsitem3"><input name="enews_name" type="text" class="subscribebox" id="enews_name" value="&nbsp;&nbsp;Name" /></div></td></tr>
			<tr><td><div id="enewsitem3"><input name="enews_email" type="text" class="subscribebox" id="enews_email" value="&nbsp;&nbsp;Email" /></div></td></tr>
			<tr><td><div id="enewsitem3"><input name="submit" type="image" value="Submit" src="<{$smarty.const.WEBSITE_URL}>images/submit.jpg" title="Submit" /></div></td></tr>
			</table>
			</form>
			</div>
			</div>